REALPRIZE_COOKIE=
REALPRIZE_COOKIE_FILE=
REALPRIZE_AUTHORIZATION=
REALPRIZE_ACCESS_TOKEN=
REALPRIZE_EXTRA_HEADERS_JSON=
REALPRIZE_EVENT_ID=
REALPRIZE_EVENT_ID_FILE=/tmp/realprize-event-id.txt
REALPRIZE_ALLOW_NO_AUTH=false
REALPRIZE_TIMEZONE=Europe/Zurich
REALPRIZE_CHECK_INTERVAL_SEC=900
REALPRIZE_SUCCESS_INTERVAL_SEC=86400
REALPRIZE_EXIT_ON_AUTH_FAILURE=true
REALPRIZE_HEARTBEAT_ENABLED=true
REALPRIZE_HEARTBEAT_URL=https://realprize.com
REALPRIZE_HEARTBEAT_INTERVAL_SEC=540
REALPRIZE_HEARTBEAT_TIMEOUT_SEC=2
REALPRIZE_SLEEP_CHUNK_SEC=300
REALPRIZE_BASE_URL=https://realprize.com
REALPRIZE_REFERER=https://realprize.com/
CRON_SECRET=
PORT=3000
